body {
    color:rgb(73, 73, 73);
    font-family: 'Montserrat';
}

h1 {
    font-weight: bolder;
}

.jumbotron {
    background-color:rgb(227, 252, 238);
    padding-top: 10%;
    padding-bottom: 5%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#uname {
    background-color:rgb(227, 252, 238);
    border-color:rgb(199, 255, 223);
}

#uname:focus {
    box-shadow: none;
    border-color:rgb(126, 255, 182);
}

#pwd {
    background-color:rgb(227, 252, 238);
    border-color:rgb(199, 255, 223);
}

#pwd:focus {
    box-shadow: none;
    border-color:rgb(126, 255, 182);
}

.btn {
    background-color:rgb(254, 216, 177);
    border-color:rgb(255, 194, 132);
    color:rgb(73, 73, 73);
}

.btn:active {
    background-color:rgb(255, 194, 132);
    border-color:rgb(254, 216, 177);
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
}

.form-check-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .form-check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color:rgb(255,255,255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(126, 255, 182);
  }
  
  /* When the checkbox is checked, add a blue background */
  .form-check-label input:checked ~ .checkmark {
    background-color:rgb(199, 255, 223);
    border-color: rgb(126, 255, 182);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .form-check-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .form-check-label .checkmark:after {
    left: 8px;
    top: 5px;
    width: 7px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

footer div a {
    color: rgb(73, 73, 73);
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 75%;
}

footer {
    background-color: rgb(227, 252, 238);
}

#statistics .col-sm-5 {
    background-color: rgb(227, 252, 238);
}

#n-days {
    color: rgb(60, 60, 60);
}

#goal-btn {
    width: 125px;
}